body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
    background-color: #eae7e7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.item-box {
    width: 150px;
    height: 220px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.plus {
    font-size: 48px;
    font-weight: bold;
}

.result p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.output {
    width: 200px;
    height: 60px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
}