body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: Switzer, sans-serif;
}

.items {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-box {
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Grotesk, sans-serif;
    color: #aaa;
    background-color: #f9f9f9;
    overflow: hidden; 
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: none; 
}

.plus {
    font-size: 2rem;
    font-weight: bold;
    color: #777;
}

.result p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.output {
    font-size: 1.5rem;
    font-weight: bold;
    color: #415A77;
    margin-top: 0.5rem;
    width: 200px;
    height: 60px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
}