.text{
    font-size: 48px;
    font-family: Switzer;
    position: relative;
    left: 22%;
    top: 2%;
}

.favorites-box {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.favorites-list {
    list-style: none;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 200px;
}

.favorites-list p {
    font-family: Switzer;
    text-align: center;
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}