body, html {
    background-image: url(../images/Background.png);
}


#BigTitle{
    font-family: SwitzerBold;
    font-size: 200px;
    position: relative;
    top: -150px;
    color: #433c3c;
    letter-spacing: -11px;
    left: 20%
}

#box1{
    background-color: #9ca9a2;
    height: 1000px;
    width: 1460px;
    display: block;
    float: center;
    position: relative;
    top: 20px ;
    left: 5px;
    border-radius: 5px;
}

#box1 h1{
    font-family:Grotesk;
    font-size: 82px;
    position: relative;
    left: 28%;
    top: 30px;
}

#surveyBox{
    display: block;
    float: center;
    background-color:#433c3c;
    height: 70px;
    width:50px;
    position: relative;
    top: 50px;
    left: 20px;
}






#BigTitle {
    animation-duration: 3s;
    animation-name: slide-in1;
}

@keyframes slide-in1 {
    from {
    translate: 150vw 0;
    }

    to {
    translate: 0 0;
    }
}
