body, html {
    background-image: url(../images/Background\ site.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


#BigTitle{
    font-family: Bebas;
    font-size: 120px;
    position: relative;
    top: 0px;
    color: #2e271b;
    letter-spacing: 0px;
    left: 2%
}

.text{
    font-size: 48px;
    font-family: Switzer;
    position: relative;
    left: 2%;
    top: 2%;
}

.butones{
    display: flex;
    color: #303f45;
    font-family: switzerBold;
    font-size: 60px;
    text-decoration:none;
    position: relative;
    left: 64% ;
}


#box1{
    background-color: #9ca9a2;
    height: 1500px;
    width: 1550px;
    display: block;
    float: center;
    position: relative;
    top: 20px ;

}

#box1 h1{
    font-family:Grotesk;
    font-size: 82px;
    position: relative;
    left: 28%;
    top: 30px;
}

#surveyBox{
    display: block;
    float: center;
    background-color:#433c3c;
    height: 60px;
    width:120px;
    position: relative;
    top: 50px;
    left: 20px;
}






#BigTitle {
    animation-duration: 3s;
    animation-name: slide-in1;
}

@keyframes slide-in1 {
    from {
    translate: 150vw 0;
    }

    to {
    translate: 0 0;
    }
}
