body, html {
    background-image: url(../images/Background.png);
}



#BigTitle{
    font-family:Thunder;
    font-style:bold;
    font-size: 402px;
    color: #3a624d;
    position: relative;
    top: -190px;
    left: 60px;
}

#box1{
    background-color: #A4C3B2;
    height: 1000px;
    width: 1460px;
    display: block;
    float: center;
    position: relative;
    top: 20px ;
    left: 5px;
    opacity: 90%;
    border-radius: 20px;
}

#box1 h1{
    font-family:Grotesk;
    font-size: 82px;
    position: relative;
    left: 28%;
    top: 30px;
}