* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Grotesk;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}


h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}
