body {
  font-family: Grotesk , sans-serif;
  min-height: 100vh;
  margin: 0;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  padding: 20px;          
  margin-top: 150px;       
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #4CAF50;
}

.username {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.bio {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.profile-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.profile-info p {
  margin: 10px 0;
  font-size: 14px;
}

.profile-info strong {
  color: #333;
}